{{template "admin" .}}

{{define "page-title"}}
    mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD Reservations
{{end}}

{{define "content"}}
    <div class="col-md-12">
        New Reservations content
    </div>
{{end}}