{{template "admin" .}}

{{define "page-title"}}
    Reservations
{{end}}

{{define "content"}}
    {{$res := index .Data "reservation"}}
    <div class="col-md-12">
        Show reservation {{$res.FirstName}}
    </div>
{{end}}