{{ template "base" . }}

{{ define "content"}}
    <div class="container">
        <div class="row">
            <div class="class col">
                <h1>This is Home page</h1>
                <p>This is some text 1</p>
                <p>
                    {{ index .StringMap "test" }}
                </p>

                <img src="/static/images/house.jpg" height="1330" width="2364" alt="">
            </div>
        </div>
    </div> 

{{ end }}