{{defeine "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Page</h1>

                <form>
                    <div class="form-group mt-3">
                        <label for="email">Email</label>
                        {{ with .Form.Errors.Get "email"}}
                            <label class="text-danger">{{.}}</label>
                        {{ end }}
                        <input class="form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}"
                                id="email" autocomplete="off" type='email'
                                name='email' value="" required>
                    </div>
                </form>
            </div>
        </div>
    </div>
{{end}}