{{defeine "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Page</h1>

                <form>
                    <div class="form-group mt-3">
                        <label for="email">Email</label>
                        {{ with .Form.Errors.Get "first_name"}}
                            <label class="text-danger">{{.}}</label>
                        {{ end }}
                        <input class="form-control {{with .Form.Errors.Get "first_name"}} is-invalid {{end}}"
                                id="first_name" autocomplete="off" type='text'
                                name='first_name' value="{{$res.FirstName}}" required>
                    </div>
                </form>
            </div>
        </div>
    </div>
{{end}}