{{ template "base" . }}

{{ define "content" }}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-5">Reservation Summary</h1>
                
                <hr>
                <table class="table table-striped">
                    <thead>
                        a
                    </thead>
                    <tbody>
                        <tr>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{{ end }}