{{ template "base" . }}

{{ define "content" }}
    <div class="container">
        <div class="row">
            <div class="class col">
                <h1>This is about page</h1>
                <p>This is some text</p>
                <p>This is a paragraph of text</p>
                <p>This is a paragraph of text</p>

                <p>This came from the template: {{ index .StringMap "test" }}</p>

                <p>
                    {{ if ne (index .StringMap "remote_ip") ""}}
                    {{ else }}
                    {{ end }}
                </p>
            </div>
        </div>
    </div>
{{ end }}